<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<base href="http://ec2-54-200-135-222.us-west-2.compute.amazonaws.com:3000/" />
</head>
<body>
		<h1></h1>
</body>
</html>
