<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="http:// ec2-54-237-90-227.compute-1.amazonaws.com:3000/">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  </body>
</html>
