<!DOCTYPE html>
<html class=" ">
    <head>
     
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Danh Sách Sản Phẩm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <base href="http://localhost:3000/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="http://ec2-54-200-135-222.us-west-2.compute.amazonaws.com:3000/">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/cloud-zoom.css" rel="stylesheet">
       <!--  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" /> -->
        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" href="TT_Admin/assets/images/apple-touch-icon-57-precomposed.png">
        <!-- For iPhone -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="TT_Admin/assets/images/apple-touch-icon-114-precomposed.png">
        <!-- For iPhone 4 Retina display -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="TT_Admin/assets/images/apple-touch-icon-72-precomposed.png">
        <!-- For iPad -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="TT_Admin/assets/images/apple-touch-icon-144-precomposed.png">
        <!-- For iPad Retina display -->
        <!-- CORE CSS FRAMEWORK - START -->
        <link href="TT_Admin/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="TT_Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="TT_Admin/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="TT_Admin/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="TT_Admin/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="TT_Admin/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->
        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
        <link href="TT_Admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>
        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 
        <!-- CORE CSS TEMPLATE - START -->
        <link href="TT_Admin/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="TT_Admin/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS TEMPLATE - END -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body>
    <!-- Header Start -->
    <header>
        <div class="headerstrip">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <a href="/" class="logo pull-left"><img src="../img/logo.png" alt="SimpleOne" title="SimpleOne"></a>
                        <!-- Top Nav Start -->
                        <div class="pull-left">
                            <div class="navbar" id="topnav">
                                <div class="navbar-inner">
                                    <ul class="nav" >
                                        <li><a class="home active" href="/">Trang Chủ</a>
                                        <li>
                                        <li><a class="shoppingcart" href="/gio-hang.html">Giỏ Hàng</a></li>
                                        <li><form class="form-wrapper">



                                            </form></li>
                                        <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </li>


                                    </ul>
                                    <a href="/find" class="btn btn-primary"><span class="fa fa-facebook"></span>Tìm Kiếm Sản Phẩm</a>
                                </div>
                            </div>
                        </div>
                        <!-- Top Nav End -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div id="categorymenu">
                <nav class="subnav">
                    <ul class="nav-pills categorymenu">
                    </ul>
                </nav>
            </div>
        </div>
    </header>
        <!-- START TOPBAR -->
