<base href="http://ec2-54-200-135-222.us-west-2.compute.amazonaws.com:3000/" />
 <div class="page-sidebar pagescroll">
                <!-- MAIN MENU - START -->
                <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                    <!-- USER INFO - START -->
                    <div class="profile-info row">

                        <div class="profile-details col-xs-8">
                            <h3>
                                <a href="ui-profile.html" class="name">NDTeam</a>
                                <!-- Available statuses: online, idle, busy, away and offline -->
                               <span class="profile-status online"></span>
                            </h3>
                            <p class="profile-title">Web Developer</p>
                        </div>
                    </div>
                    <!-- USER INFO - END -->
                    <ul class='wraplist'>
                        <li class='menusection'>Trang Chủ</li>
                        <li class="open"> 
                            <a href="/admin">
                            <i class="fa fa-dashboard"></i>
                            <span class="title">Thống Kê</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Quản Lý Danh Mục</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/cate/danh-sach.html"  >Danh Sách</a>
                                </li>
                                <li>
                                    <a class="" href="admin/cate/them-cate.html"  >Thêm</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Quản Lý Sản Phẩm</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/product/danh-sach.html"  >Danh Sách</a>
                                </li>
                                <li>
                                    <a class="" href="admin/product/them-product.html"  >Thêm</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:;">
                            <i class="fa fa-suitcase"></i>
                            <span class="title">Quản Lý Đơn Hàng</span>
                            <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="admin/cart/danh-sach.html"  >Danh Sách</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- MAIN MENU - END -->
            </div>
